.main {
  padding: 8rem 0 6rem 0;
  @include _768 {
    padding: 13.3rem 0 9.2rem 0;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 2.7rem;
  }

  &__title {
    font-weight: 500;
    font-size: 6rem;
    line-height: 120%;
    background: linear-gradient(
      89.81deg,
      #9845e8 -1.72%,
      #33d2ff 54.05%,
      #dd5789 99.78%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 2.6rem;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;

    @include _768 {
      font-size: 9.6rem;
      line-height: 11rem;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 10rem;
    max-width: 80rem;
    @include _768 {
      margin-bottom: 19.4rem;
    }

  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include _768 {
      justify-content: left;
    }
    .a-button {
      margin: 0 1rem 1rem 0;
    }
  }
}
